body{
  font-family: 'Hina Mincho';
}



*, ::after, ::before {
  --tw-border-opacity: 0;
}

.img-carousel {
  width:  500px;
  height: 500px;
  object-fit: cover;
}

.carousel-fan{
  height: auto;
}


.shadow-navbar{
  background-color: #2b2b2b;
}

.hero-home{
  background-image: url("../src/TioRoberHero2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
}

.background-rober{
  background-image: url("../src/tioroberhome.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 100vh;
}

.background-projects{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.img-carousel{
  height: 300px;
}

.thumb{
  display: none !important;
}

.container-services{
  width: 100%;
  display: flex;
  align-items: center;

}

.title-section{
  height: 5rem;
  width: 80%;
  margin-top:60px;
  border-bottom: #2b2b2b 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-section h3{
  font-weight: bold;
}

.subtitle-section{
  width: 50%;
  margin: auto;
  border-bottom: #2b2b2b 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subtitle-section p{
  color: #2b2b2b;
  font-weight: bold;
  border-bottom: #2b2b2b 2px solid;
  padding-bottom: 5px;
  width: 40%;
}

.img-carousel-shows{
  height: 330px;
  width: 60%;
}

.leading-normal {
  font-family: 'Source Sans Pro', sans-serif;}

.border-primary{
  border: 1px solid rgba(213,51,105,1);
  color:rgba(213,51,105,1);
}

.border-primary:hover{
  background-color:#d53369 ;
  color:#fff;
}

.button-home{
  background-color:red ;
  border: solid red 1px;
  color:white;
  height: 30px;
  align-self: center;
  padding:0 20px 0 20px ;
}

.button-home:hover{
  background-color:red ;
  color:#fff;
}

.bg-blue-pepsi{
  background: #003263 ;
}


.bg-estamal{
  background-image: url("../src/bg-reirsedeesto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center ;
}

.bg-hora-feliz{
  background-image: url("../src/bg-tio-cojo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
}

.bg-pur{
  background-image: url("../src/bg-pur.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
}


.w-45{
  width: 49% !important;
}

.w-49{
  width: 49%;
}


.fecha-card{
  width: 90%;
}

.fecha-card .date{
width: 15%;
}

.fecha-card .locacion{
  width: 80%;
  }




@media (min-width: 320px) and (max-width: 480px) {

  .w-45{
    width: 100%;
  }

  .w-45 .date{
    width: 15%;
    }

  .w-49{
    width: 100%;
  }
  
  .fecha-card{
    width: 100% !important;
  }

  .background-rober{
    background-image: none;

  }

  .hero-home{
    background-image: url("../src/tiorober-bg.jpg");
    text-align: center;
  }

  .bg-estamal{
    background-image: url("../src/estamalmobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
  }

  .wrap-own{
    display: flex;
    flex-wrap: wrap;
  }
  

  .display-none-s{
      display: none !important;
  }

  .leading-3{
      line-height: 3.5rem !important;
  }

  .sm-text-center{
    text-align: center !important;
  }

  .sm-justify-center{
    justify-content: center;
  }

  .sm-button-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .sm-button-content a{
    display: flex;
    justify-content: center;
  }

  .h-content-links{
    height: auto;
  }

}





